.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.topbar-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.topbar-logo {
  height: 40px;
}

.hamburger {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--color-fondo);
  cursor: pointer;
}

.dropdown-menu-top {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  background-color: var(--color-encabezado);
  text-align: center;
  border-radius: 0 0 0 25px;
}

.dropdown-menu-top a {
  padding: 10px;
  text-decoration: none;
  color: var(--color-fondo);
}

.dropdown-menu-top a:hover {
  color: var(--color-secundario);
}
