:root {
  --color-fondo: #ffffff;
  /* Fondo principal (body) */
  --color-texto-principal: #353535;
  /* Texto general (gris oscuro) */
  --color-secundario: #3C6E71;
  /* Color secundario (verde azulado) */
  --color-fondo-claro: #d9d9d9;
  /* Fondo de secciones suaves o tarjetas */
  --color-encabezado: #284b63;
  /* Encabezados, barra de navegación, etc. */
  --color-underline:#5da1a5;
  /*para subrayados */
  --fuente-titulos: 'Montserrat', serif;
  --fuente-texto: 'Roboto', sans-serif;
}