.menu-wrapper {
  position: relative; 
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;  
    border: none;
    margin-top: 5px;
}
.dropdown-item {
    background-color: var(--color-encabezado);
    color: var(--color-fondo);
    text-decoration: none;
    padding: 1px;
    border: none;    
}
