.member-button{
  display: flex;
  align-items: center;
  background-color: transparent;
  border:none;
  width: 65%;
  cursor: pointer;
  justify-content: space-evenly;
}
.member-img-container{
    width: 30%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
}
.member-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}