.sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--color-encabezado);
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: var(--fuente-texto);
}

.logo {
  margin: 10px;
  max-height: 50px;
  max-width: 200px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-links button {
  background-color: var(--color-encabezado);
  color: var(--color-fondo);
  text-decoration: none;
}

.nav-links button:hover {
  color: var(--color-secundario);
}