.app-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) calc(100vw - var(--sidebar-width)); 
  height: 100vh;
}

.main-content {
  padding: 0; /* padding interno solo */
  height: 100vh;
  overflow-y: auto;
}

/* .main-content {
  margin-left: 200px; 
  padding: 20px;
  flex: 1;
  height: 100vh;
  overflow-y: auto; 
} */

